<section class="about" id="about">
  <div class="container">
    <p class="sub-title">tradition and love</p>
    <h2 class="title">how it’s made?</h2>
    <div class="about-box">
      <div class="about-tumb">
        <picture>
          <source
            srcset="
              ./images/about/desktop/cow@1x.webp 1x,
              ./images/about/desktop/cow@2x.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/about/desktop/cow@1x.png 1x,
              ./images/about/desktop/cow@2x.png 2x
            "
            media="(min-width: 1200px)"
          />

          <source
            srcset="
              ./images/about/tablet/cow@1x.webp 1x,
              ./images/about/tablet/cow@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/about/tablet/cow@1x.png 1x,
              ./images/about/tablet/cow@2x.png 2x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ./images/about/mobile/cow@1x.webp 1x,
              ./images/about/mobile/cow@2x.webp 2x
            "
            media="(min-width: 320px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/about/mobile/cow@1x.png 1x,
              ./images/about/mobile/cow@2x.png 2x
            "
            media="(min-width: 320px)"
          />

          <img src="./images/about/mobile/cow@1x.png" alt="" />
        </picture>
      </div>
      <div class="about-discription">
        <p class="about-description__black-text">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
          cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
          justo fringilla.
        </p>
        <p class="about-description__text">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
          Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
          suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
          tincidunt. <br />
          <br />
          Aliquam erat volutpat. Aenean accumsan.
        </p>
        <button class="buttons about-btn" type="button">
          Read more
          <svg class="arrow">
            <path
              d="M1.61633 1L6.04401 5L1.61633 9"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
